
* {
	margin: 0;
	padding: 0;
}
html,body,.banner{
	width: 100%;
	height: 100%;
	background: #999;
}

.swiper-slide {
	padding-top: 50px;
	line-height: 300px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.case{
	width: 100%;
	height: 800px;
	padding: 0 auto;
}
.swiper-pagination span{
	display: inline;
	width: 100px;
	height: 30px;
	border-radius: 10%;
	font-size: 15px;
	line-height: 30px;
	background: transparent;
}

#Title{
	background: rgba(255,255,255,0.2);
	border: none;
}
#Title a{
	color: #555;
}
#Title_Underline{
	width: auto;
	height: 1px;
	background: #555;
	margin-top: 40px;
	transition: 0.3s;
	position: fixed;
	opacity: 0;
}

/*SetSail*/
.SetSail{
	background: url(../img/hire_bg.jpg);
	position: relative;
	color: #555;
}
.b_rt{
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.04);
	position: absolute;
	right: 0;
}
.SetSail_bi{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%)
}
.SetSail .container{
	position: relative;
}
.l_div{
	position: relative;
	left: 0;
}
.l_div h1{
	position: absolute;
	left: 0;
	top: 150px;
}
.l_div p{
	width: 450px;
	font-size: 17px;
	line-height: 25px;
	position: absolute;
	left: 0;
	top: 320px;
	text-align: left;
	text-indent:30px;
}
.l_div_lt{
	position: absolute;
	left: 0;
	top: 600px;
}
.l_div_rt{
	position: absolute;
	left: 250px;
	top: 600px;
}
.r_div{
	position: absolute;
	right: 0;
	width: 700px;
	height: 700px;
}
.r_div_Title{
	position: relative;
}
.r_div_Title>h1{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%)
}
.r_div_Title>span{
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translate(-50%);
	line-height: 100%;
	font-size: 18px;
}
.r_div_Title>div{
	width: 100%;
	height: 1px;
	background: #555;
	position: absolute;
	top: 135px;
}
.r_div>img{
	position: absolute;
	top: 136px;
	left: 50%;
	transform: translate(-50%);
}
.Life_lt,.Life_rt{
	width: 50%;
	height: 500px;
	position: absolute;
	left: 0;
	top: 140px;
}
.Life_lt_div,.Life_rt_div{
	width: 80%;
	height: 100px;
	margin: 90px auto;
	position: relative;
}
.Life_rt{
	left: 50%;
}
.Life_rt_div{
	margin: 40px auto;
}
.Life_lt_div a,.Life_rt_div a{
	position: absolute;
	right: 60px;
	line-height: 100%;
	margin: 0;
	font-size: 18px;
	color: #000;
}
.Life_rt_div a{
	right: auto;
	left: 55px;
}
.Life_lt_div p,.Life_rt_div p{
	font-size: 15px;
	line-height: 120%;
	position: absolute;
	top: 20px;
	right: 50px;
	text-align: left;
	letter-spacing: 3px;
}
.Life_rt_div p{
	right: auto;
	left: 55px;
}
.Life_lt_div div,.Life_rt_div div{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	font-size: 30px;
	line-height: 100%;
	border: 1px solid #333;
}
.Life_rt_div div{
	right: auto;
	left: 0;
}
.Life_lt_div div span,.Life_rt_div div span{
	font-size: 13px;
	line-height: 100%;
	position: absolute;
	bottom: 3px;
	left: 5px;
}

/*SetSail*/


/*手风琴*/
#wrap{
	position: relative;
	overflow: hidden;
	top:0; left:0; right:0; bottom:0;
	margin:auto;
	width: 100%;
	height: 100%;
}
#wrap > ul{
	width: 120%;
	height: 100%;
	list-style: none;
}
#wrap > ul > li{
	float: left;
	width: 100px;
	height: 100%;
	cursor: pointer;
	position: relative;
}
#wrap > ul > li:nth-child(1){
	background: url('../img/1.jpg') no-repeat center/cover;
}
#wrap > ul > li:nth-child(2){
	background: url('../img/2.jpg') no-repeat center/cover;
}
#wrap > ul > li:nth-child(3){
	background: url('../img/3.jpg') no-repeat center/cover;
}
#wrap > ul > li:nth-child(4){
	background: url('../img/4.jpg') no-repeat center/cover;
}	
#wrap > ul > li > .text{
	width: 100px;
	height: 100%;
	background: #000;
	opacity: .5;
}
#wrap > ul > li > .text p{
	padding: 20px 40px;
	font-family: 'Microsoft yahei';
	color: #fff;
	line-height: 1;
	font-size: 18px;
	writing-mode: tb-rl;
}
.wrap_rt{
	width: calc(100% - 100px);
	height: 100%;
	position: absolute;
	left: 100px;
	top: 0;
	overflow-x: hidden;
}


/*热门分享*/
.slider1{background:#999;}
.slider2{background:#999;}
.slider3{background:#999;}
.slider4{background:#999;}
.slider5{background:#999;}

.swiper_bottton{
	width: 200px;
	height: 50px;
	border: 1px solid #666;
	border-radius: 8px;
	background: rgba(255,255,255,0.0);
	outline:none;
	overflow: hidden;
	text-align: center;
	line-height: 60px;
}
.swiper_left{
	position: absolute;
	left: 20%;
	z-index: 10;
	bottom: 30px;
}
.swiper_right{
	position: absolute;
	right: 20%;
	z-index: 10;
	bottom: 30px;
}
.swiper_bottton span{
	color: #fff
}
.b_C{
	width: 5px;
	height: 5px;
	background: rgba(0,0,0,0.3);
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%,-50%)
}
/*热门分享*/
/*手风琴*/



/*播放器*/
#w{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.bottom{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 53px;
}
.buttom_background{
	height: 53px;
	/*margin-right: 67px;*/
	background: url(../img/playbar.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 67px;
}
.locking{
	width: 67px;
	height: 67px;
	background: url(../img/playbar.png) no-repeat 0 -380px;
	position: absolute;
	top: -14px;
	right: 0px;
}
.Pp_button{
	display: inline-block;
	position: relative;
	top: 8px;
}
.Previous_song:hover{background-position: -30px -130px;}
.Previous_song{
	background: url(../img/playbar.png) 0 -130px;
	display: inline-block;
	width: 28px;
	height: 28px;
	cursor:pointer
}
.Play_pause:hover{background-position: -40px -204px;}
.Play_pause{
	background: url(../img/playbar.png) 0 -204px;
	display: inline-block;
	width: 36px;
	height: 36px;
	position: relative;
	top: 3px;
	cursor:pointer
}
.Next_song:hover{background-position: -110px -130px;}
.Next_song{
	background: url(../img/playbar.png) -80px -130px;
	display: inline-block;
	width: 28px;
	height: 28px;
	cursor:pointer
}
.Head_portrait{
	width: 34px;
	height: 34px;
	position: absolute;
	top: 13px;
	left: 137px;

}
.Head_portrait img{
	width: 33px;
	height: 33px;
}
.Head_portrait a{
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../img/playbar.png) 0 -80px;
	position: absolute;
	left: 0;
	top: 0;
}
.Song_information{
	width: 493px;
	height: 28px;
	position: absolute;
	top: 6px;
	left: 186px;
	font-size: 10px;
	display: flex;
	flex-wrap: wrap;
}
.singer:hover{text-decoration: underline}
.singer{
	max-width: 300px;
	color: #e8e8e8;
	overflow: hidden;
    line-height: 28px;
}
.Song_MV:hover{background-position: -20px -57px;}
.Song_MV{
	width: 19px;
	height: 17px;
	display: inline-block;
	background: url(../img/playbar.png) 0px -57px;
	margin: 6px 15px 0 3px;
}
.Song_name:hover{text-decoration: underline}
.Song_name{
	max-width: 300px;
	color: #9b9b9b;
	overflow: hidden;
    line-height: 28px;
}
.singer_link:hover{background-position: -130px -103px}
.singer_link{
	width: 14px;
	height: 15px;
	display: inline-block;
	background: url(../img/playbar.png) -110px -103px;
	margin: 8px 0 0 13px;
}


.Time_bar{
	width: 493px;
	height: 9px;
	border-radius: 4px;
	background: url(../img/statbar.png) right 0px;
	position: absolute;
	top: 34px;
	left: 186px;
}
.Progress_bar{
	position: absolute;
	top: 0;
	left: 0;
	width: 1%;
	height: 9px;
	background: url(../img/statbar.png) left -66px;
}
.Progress_point:hover{background-position: 0 -280px;}
.Progress_point{
	display: inline-block;
	width: 22px;
	height: 24px;
	position: absolute;
	top: -7px;
	left: -10px;
	background: url(../img/iconall.png) no-repeat 0 -250px;
	cursor:pointer
}
.When_long{    
	position: absolute;
    top: 29px;
    left: 690px;
    z-index: 1;
    color: #797979;
	font-size: 10px;
    text-shadow: 0 1px 0 #121212;
}
.When_long em{
	color: #a1a1a1;
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.Set_operation{
	width: 113px;
	height: 36px;
	position: absolute;
	top: 6px;
	right: 0;
}
.volume{
	width: 25px;
	height: 25px;
	background: url(../img/playbar.png) -2px -248px;
	position: absolute;
	top: 11px;
}
.Volume_block{
	width: 32px;
	height: 113px;
	background: url(../img/playbar.png) 0 -503px;
	position: absolute;
	top: -113px;
	left: -5px;
	display: none;
}
.Volume_bar{
	width: 4px;
	height: 93px;
	border-radius: 4px;
	position: absolute;
	top: 11px;
	left: 50%;
	margin-left: -2px;
}
.Volume_size{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 4px;
	height: 1%;
	background: url(../img/playbar.png) -40px bottom;
}
.Volume_point:hover{background-position: -40px -280px}
.Volume_point{
	display: inline-block;
	width: 18px;
	height: 20px;
	background: url(../img/iconall.png) -40px -250px;
	position: absolute;
	left: -7px;
	bottom: -7px;
}
/*播放器*/